{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        {% for user in users %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4><a >{{ user.email }}</a></h4>
                <p>{{ user.roles}}</p>
                </div>
                <div>
                    {% if user.roles == null %}
				<a href="">
						Devenir ADMIN</a>   <a href=""> Devenir Utilisateur
						</a>
			{% else %}

				{% if user.roles == ['ROLE_USER'] %}
					<a href=""> Devenir ADMIN
						</a>
                        {% else %}

                        <a href=""> Devenir Utilisateur
						</a>
				{% endif %}
				{% endif %}
                </div>
            </div>
        </div>
        </div>
{% endblock %}